/* General rules */
:root {
    --color-black: #000;
    --color-white: #fff;
    --color-text: #2E3332;
    --color-blue: #4285bf;
    --color-accent: #FDBF2D;
    /* --color-bg-dark: #131619;
    --color-grey-light: #c4c4c4;
    --color-grey: #404040; */
    --border-radius: 30px;
    --border: 1px solid var(--color-white);
    --font-family-base: 'Heebo', sans-serif;
    --transition: all .3s;
    /* --header-height: 90px;
    --input-height: 54px; */
}

html, body {
    height: 100vh;
}

body {
    min-width: 320px;
    font-family: var(--font-family-base);
    font-weight: normal;
    color: var(--color-white);
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition);
}

a:hover,
a.active,
a:active {
    color: var(--color-accent);
}

a::before {
    transition: var(--transition);
}

main {
    flex: 1 1 auto;
}
/* General rules */

/* Header */
.header-top {
    background-color: var(--color-blue);
}

.header-top-col a, .header-top-date time {
    display: flex;
    gap: 5px;
    justify-content: center;
}

.header-top a::before {
    content: '';
    width: 20px;
    height: 20px;
}

.header-top-site-map a::before {
    background: url(../icons/header/sitemap.svg) center/contain no-repeat;
}

.header-top-site-map a:hover::before {
    background: url(../icons/header/sitemap-hover.svg) center/contain no-repeat;
}

.header-top-contacts a.header-top-mail::before {
    background: url(../icons/header/mail.svg) center/contain no-repeat;
}

.header-top-contacts a.header-top-mail:hover::before {
    background: url(../icons/header/mail-hover.svg) center/contain no-repeat;
}

.header-top-contacts a.header-top-phone::before {
    background: url(../icons/header/phone.svg) center/contain no-repeat;
}

.header-top-contacts a.header-top-phone:hover::before {
    background: url(../icons/header/phone-hover.svg) center/contain no-repeat;
}

.header-top-date a:before {
    background: url(../icons/header/date.svg) center/contain no-repeat;
}

.header-top-date a:hover:before {
    background: url(../icons/header/date-hover.svg) center/contain no-repeat;
}

.header-top-visually-version a::before {
    background: url(../icons/header/eye.svg) center/contain no-repeat;
}

.header-top-visually-version a:hover::before {
    background: url(../icons/header/eye-hover.svg) center/contain no-repeat;
}

.header-top-lang a.header-top-lang-rus::before {
    background: url(../icons/header/rus.png) center/contain no-repeat;
}

.header-top-lang a.header-top-lang-be::before {
    background: url(../icons/header/be.png) center/contain no-repeat;
}
/* Header */

@media only screen and (max-width: 992px) {
    .header-top-col a>span {
        display: none;
    }
    
}

@media only screen and (max-width: 768px) {
    .header-top-date span {
        display: none;
    }
    
}